/* ------------- General ------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

@font-face {
    font-family: "cs-ctrl-basic";
    src: url("cs-ctrl-basic.eot");
    src: url("cs-ctrl-basic.eot#iefix") format("embedded-opentype"),
    url("cs-ctrl-basic.woff") format("woff"),
    url("cs-ctrl-basic.ttf") format("truetype"),
    url("cs-ctrl-basic.svg#basic") format("svg");
    font-weight: normal;
    font-style: normal;
}

.csslider1 {
    display: inline-block;
    position: relative;
    height: 700px;
    width: 100%;
}

.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.csslider1 > .cs_anchor {
    display: none;
}

.csslider1 > ul {
    position: relative;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0px;
    height: 700px;
    overflow: hidden;
    white-space: nowrap;
}

.csslider1 > ul > .cs_skeleton {
    width: 100%;
    visibility: hidden;
    font-size: 0px;
    line-height: 0;
}

.csslider1 > ul > .slide.img img {
    width: 100%;
}

.csslider1 > ul > .slide.img a {
    font-size: 0pt;
    color: transparent;
}

.csslider1 > ul > .slide {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 700px;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.csslider1 .cs_engine {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0pt;
    opacity: 0;
    filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
    position: absolute;
    top: 50%;
    z-index: 5;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}

.csslider1 > .cs_arrowprev {
    left: 0;
}

.csslider1 > .cs_arrownext {
    right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
    opacity: 0;
    z-index: -1;
}

.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num32,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num32,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrownext > label.num5,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrownext > label.num5,
.csslider1 > #cs_slide1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_slide1_5:checked ~ .cs_arrownext > label.num6,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrownext > label.num6,
.csslider1 > #cs_slide1_6:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_pause1_6:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_slide1_6:checked ~ .cs_arrownext > label.num7,
.csslider1 > #cs_pause1_6:checked ~ .cs_arrownext > label.num7,
.csslider1 > #cs_slide1_7:checked ~ .cs_arrowprev > label.num6,
.csslider1 > #cs_pause1_7:checked ~ .cs_arrowprev > label.num6,
.csslider1 > #cs_slide1_7:checked ~ .cs_arrownext > label.num8,
.csslider1 > #cs_pause1_7:checked ~ .cs_arrownext > label.num8,
.csslider1 > #cs_slide1_8:checked ~ .cs_arrowprev > label.num7,
.csslider1 > #cs_pause1_8:checked ~ .cs_arrowprev > label.num7,
.csslider1 > #cs_slide1_8:checked ~ .cs_arrownext > label.num9,
.csslider1 > #cs_pause1_8:checked ~ .cs_arrownext > label.num9,
.csslider1 > #cs_slide1_9:checked ~ .cs_arrowprev > label.num8,
.csslider1 > #cs_pause1_9:checked ~ .cs_arrowprev > label.num8,
.csslider1 > #cs_slide1_9:checked ~ .cs_arrownext > label.num10,
.csslider1 > #cs_pause1_9:checked ~ .cs_arrownext > label.num10,
.csslider1 > #cs_slide1_10:checked ~ .cs_arrowprev > label.num9,
.csslider1 > #cs_pause1_10:checked ~ .cs_arrowprev > label.num9,
.csslider1 > #cs_slide1_10:checked ~ .cs_arrownext > label.num11,
.csslider1 > #cs_pause1_10:checked ~ .cs_arrownext > label.num11,
.csslider1 > #cs_slide1_11:checked ~ .cs_arrowprev > label.num10,
.csslider1 > #cs_pause1_11:checked ~ .cs_arrowprev > label.num10,
.csslider1 > #cs_slide1_11:checked ~ .cs_arrownext > label.num12,
.csslider1 > #cs_pause1_11:checked ~ .cs_arrownext > label.num12,
.csslider1 > #cs_slide1_12:checked ~ .cs_arrowprev > label.num11,
.csslider1 > #cs_pause1_12:checked ~ .cs_arrowprev > label.num11,
.csslider1 > #cs_slide1_12:checked ~ .cs_arrownext > label.num13,
.csslider1 > #cs_pause1_12:checked ~ .cs_arrownext > label.num13,
.csslider1 > #cs_slide1_13:checked ~ .cs_arrowprev > label.num12,
.csslider1 > #cs_pause1_13:checked ~ .cs_arrowprev > label.num12,
.csslider1 > #cs_slide1_13:checked ~ .cs_arrownext > label.num14,
.csslider1 > #cs_pause1_13:checked ~ .cs_arrownext > label.num14,
.csslider1 > #cs_slide1_14:checked ~ .cs_arrowprev > label.num13,
.csslider1 > #cs_pause1_14:checked ~ .cs_arrowprev > label.num13,
.csslider1 > #cs_slide1_14:checked ~ .cs_arrownext > label.num15,
.csslider1 > #cs_pause1_14:checked ~ .cs_arrownext > label.num15,
.csslider1 > #cs_slide1_15:checked ~ .cs_arrowprev > label.num14,
.csslider1 > #cs_pause1_15:checked ~ .cs_arrowprev > label.num14,
.csslider1 > #cs_slide1_15:checked ~ .cs_arrownext > label.num16,
.csslider1 > #cs_pause1_15:checked ~ .cs_arrownext > label.num16,
.csslider1 > #cs_slide1_16:checked ~ .cs_arrowprev > label.num15,
.csslider1 > #cs_pause1_16:checked ~ .cs_arrowprev > label.num15,
.csslider1 > #cs_slide1_16:checked ~ .cs_arrownext > label.num17,
.csslider1 > #cs_pause1_16:checked ~ .cs_arrownext > label.num17,
.csslider1 > #cs_slide1_17:checked ~ .cs_arrowprev > label.num16,
.csslider1 > #cs_pause1_17:checked ~ .cs_arrowprev > label.num16,
.csslider1 > #cs_slide1_17:checked ~ .cs_arrownext > label.num18,
.csslider1 > #cs_pause1_17:checked ~ .cs_arrownext > label.num18,
.csslider1 > #cs_slide1_18:checked ~ .cs_arrowprev > label.num17,
.csslider1 > #cs_pause1_18:checked ~ .cs_arrowprev > label.num17,
.csslider1 > #cs_slide1_18:checked ~ .cs_arrownext > label.num19,
.csslider1 > #cs_pause1_18:checked ~ .cs_arrownext > label.num19,
.csslider1 > #cs_slide1_19:checked ~ .cs_arrowprev > label.num18,
.csslider1 > #cs_pause1_19:checked ~ .cs_arrowprev > label.num18,
.csslider1 > #cs_slide1_19:checked ~ .cs_arrownext > label.num20,
.csslider1 > #cs_pause1_19:checked ~ .cs_arrownext > label.num20,
.csslider1 > #cs_slide1_20:checked ~ .cs_arrowprev > label.num19,
.csslider1 > #cs_pause1_20:checked ~ .cs_arrowprev > label.num19,
.csslider1 > #cs_slide1_20:checked ~ .cs_arrownext > label.num21,
.csslider1 > #cs_pause1_20:checked ~ .cs_arrownext > label.num21,
.csslider1 > #cs_slide1_21:checked ~ .cs_arrowprev > label.num20,
.csslider1 > #cs_pause1_21:checked ~ .cs_arrowprev > label.num20,
.csslider1 > #cs_slide1_21:checked ~ .cs_arrownext > label.num22,
.csslider1 > #cs_pause1_21:checked ~ .cs_arrownext > label.num22,
.csslider1 > #cs_slide1_22:checked ~ .cs_arrowprev > label.num21,
.csslider1 > #cs_pause1_22:checked ~ .cs_arrowprev > label.num21,
.csslider1 > #cs_slide1_22:checked ~ .cs_arrownext > label.num23,
.csslider1 > #cs_pause1_22:checked ~ .cs_arrownext > label.num23,
.csslider1 > #cs_slide1_23:checked ~ .cs_arrowprev > label.num22,
.csslider1 > #cs_pause1_23:checked ~ .cs_arrowprev > label.num22,
.csslider1 > #cs_slide1_23:checked ~ .cs_arrownext > label.num24,
.csslider1 > #cs_pause1_23:checked ~ .cs_arrownext > label.num24,
.csslider1 > #cs_slide1_24:checked ~ .cs_arrowprev > label.num23,
.csslider1 > #cs_pause1_24:checked ~ .cs_arrowprev > label.num23,
.csslider1 > #cs_slide1_24:checked ~ .cs_arrownext > label.num25,
.csslider1 > #cs_pause1_24:checked ~ .cs_arrownext > label.num25,
.csslider1 > #cs_slide1_25:checked ~ .cs_arrowprev > label.num24,
.csslider1 > #cs_pause1_25:checked ~ .cs_arrowprev > label.num24,
.csslider1 > #cs_slide1_25:checked ~ .cs_arrownext > label.num26,
.csslider1 > #cs_pause1_25:checked ~ .cs_arrownext > label.num26,
.csslider1 > #cs_slide1_26:checked ~ .cs_arrowprev > label.num25,
.csslider1 > #cs_pause1_26:checked ~ .cs_arrowprev > label.num25,
.csslider1 > #cs_slide1_26:checked ~ .cs_arrownext > label.num27,
.csslider1 > #cs_pause1_26:checked ~ .cs_arrownext > label.num27,
.csslider1 > #cs_slide1_27:checked ~ .cs_arrowprev > label.num26,
.csslider1 > #cs_pause1_27:checked ~ .cs_arrowprev > label.num26,
.csslider1 > #cs_slide1_27:checked ~ .cs_arrownext > label.num28,
.csslider1 > #cs_pause1_27:checked ~ .cs_arrownext > label.num28,
.csslider1 > #cs_slide1_28:checked ~ .cs_arrowprev > label.num27,
.csslider1 > #cs_pause1_28:checked ~ .cs_arrowprev > label.num27,
.csslider1 > #cs_slide1_28:checked ~ .cs_arrownext > label.num29,
.csslider1 > #cs_pause1_28:checked ~ .cs_arrownext > label.num29,
.csslider1 > #cs_slide1_29:checked ~ .cs_arrowprev > label.num28,
.csslider1 > #cs_pause1_29:checked ~ .cs_arrowprev > label.num28,
.csslider1 > #cs_slide1_29:checked ~ .cs_arrownext > label.num30,
.csslider1 > #cs_pause1_29:checked ~ .cs_arrownext > label.num30,
.csslider1 > #cs_slide1_30:checked ~ .cs_arrowprev > label.num29,
.csslider1 > #cs_pause1_30:checked ~ .cs_arrowprev > label.num29,
.csslider1 > #cs_slide1_30:checked ~ .cs_arrownext > label.num31,
.csslider1 > #cs_pause1_30:checked ~ .cs_arrownext > label.num31,
.csslider1 > #cs_slide1_31:checked ~ .cs_arrowprev > label.num30,
.csslider1 > #cs_pause1_31:checked ~ .cs_arrowprev > label.num30,
.csslider1 > #cs_slide1_31:checked ~ .cs_arrownext > label.num32,
.csslider1 > #cs_pause1_31:checked ~ .cs_arrownext > label.num32,
.csslider1 > #cs_slide1_32:checked ~ .cs_arrowprev > label.num31,
.csslider1 > #cs_pause1_32:checked ~ .cs_arrowprev > label.num31,
.csslider1 > #cs_slide1_32:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_32:checked ~ .cs_arrownext > label.num0 {
    opacity: 1;
    z-index: 5;
}

/* ------------- /General Arrows ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
    z-index: 3;
}

.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
    color: inherit;
}

.csslider1 > .cs_description a:hover {
    text-decoration: none;
}

.csslider1 > .cs_description > label {
    position: absolute;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    max-width: 100%;
    left: 0;
}

.csslider1 > .cs_description > label > span {
    vertical-align: top;
}

.csslider1 > .cs_description > label span {
    display: inline-block;
}

/* ------------- /General Description ------------- */

/* ------------- General Gestures ------------- */
.csslider1.cs_handle {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}

.csslider1.cs_handle.cs_grab {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

.csslider1 .cs_gestures {
    visibility: hidden;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;

    -webkit-transition: visibility .3s linear, opacity .3s linear;
    transition: visibility .3s linear, opacity .3s linear;
}

.csslider1 .cs_gestures.cs_show {
    visibility: visible;
    opacity: 1;
}

.csslider1 .cs_gestures.cs_show img {
    width: 3.0303030303030303%;
}

.csslider1 .cs_gestures.cs_show .cs_first_img {
    position: absolute;
    left: -3.0303030303030303%;
    top: 0;
}

.csslider1 .cs_gestures.cs_show .cs_last_img {
    position: absolute;
    left: 100%;
    top: 0;
}

.csslider1 .cs_gestures > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 3300%;
}

/* ------------- /General Gestures ------------- */

/* ------------- Effect ------------- */
.csslider1 > ul > .slide.num0 {
    left: 0%;
}

.csslider1 > ul > .slide.num1 {
    left: 100%;
}

.csslider1 > ul > .slide.num2 {
    left: 200%;
}

.csslider1 > ul > .slide.num3 {
    left: 300%;
}

.csslider1 > ul > .slide.num4 {
    left: 400%;
}

.csslider1 > ul > .slide.num5 {
    left: 500%;
}

.csslider1 > ul > .slide.num6 {
    left: 600%;
}

.csslider1 > ul > .slide.num7 {
    left: 700%;
}

.csslider1 > ul > .slide.num8 {
    left: 800%;
}

.csslider1 > ul > .slide.num9 {
    left: 900%;
}

.csslider1 > ul > .slide.num10 {
    left: 1000%;
}

.csslider1 > ul > .slide.num11 {
    left: 1100%;
}

.csslider1 > ul > .slide.num12 {
    left: 1200%;
}

.csslider1 > ul > .slide.num13 {
    left: 1300%;
}

.csslider1 > ul > .slide.num14 {
    left: 1400%;
}

.csslider1 > ul > .slide.num15 {
    left: 1500%;
}

.csslider1 > ul > .slide.num16 {
    left: 1600%;
}

.csslider1 > ul > .slide.num17 {
    left: 1700%;
}

.csslider1 > ul > .slide.num18 {
    left: 1800%;
}

.csslider1 > ul > .slide.num19 {
    left: 1900%;
}

.csslider1 > ul > .slide.num20 {
    left: 2000%;
}

.csslider1 > ul > .slide.num21 {
    left: 2100%;
}

.csslider1 > ul > .slide.num22 {
    left: 2200%;
}

.csslider1 > ul > .slide.num23 {
    left: 2300%;
}

.csslider1 > ul > .slide.num24 {
    left: 2400%;
}

.csslider1 > ul > .slide.num25 {
    left: 2500%;
}

.csslider1 > ul > .slide.num26 {
    left: 2600%;
}

.csslider1 > ul > .slide.num27 {
    left: 2700%;
}

.csslider1 > ul > .slide.num28 {
    left: 2800%;
}

.csslider1 > ul > .slide.num29 {
    left: 2900%;
}

.csslider1 > ul > .slide.num30 {
    left: 3000%;
}

.csslider1 > ul > .slide.num31 {
    left: 3100%;
}

.csslider1 > ul > .slide.num32 {
    left: 3200%;
}

.csslider1 > #cs_slide1_0:checked ~ ul > .slide,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.csslider1 > #cs_slide1_1:checked ~ ul > .slide,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.csslider1 > #cs_slide1_2:checked ~ ul > .slide,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.csslider1 > #cs_slide1_3:checked ~ ul > .slide,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.csslider1 > #cs_slide1_4:checked ~ ul > .slide,
.csslider1 > #cs_pause1_4:checked ~ ul > .slide {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

.csslider1 > #cs_slide1_5:checked ~ ul > .slide,
.csslider1 > #cs_pause1_5:checked ~ ul > .slide {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
}

.csslider1 > #cs_slide1_6:checked ~ ul > .slide,
.csslider1 > #cs_pause1_6:checked ~ ul > .slide {
    -webkit-transform: translateX(-600%);
    transform: translateX(-600%);
}

.csslider1 > #cs_slide1_7:checked ~ ul > .slide,
.csslider1 > #cs_pause1_7:checked ~ ul > .slide {
    -webkit-transform: translateX(-700%);
    transform: translateX(-700%);
}

.csslider1 > #cs_slide1_8:checked ~ ul > .slide,
.csslider1 > #cs_pause1_8:checked ~ ul > .slide {
    -webkit-transform: translateX(-800%);
    transform: translateX(-800%);
}

.csslider1 > #cs_slide1_9:checked ~ ul > .slide,
.csslider1 > #cs_pause1_9:checked ~ ul > .slide {
    -webkit-transform: translateX(-900%);
    transform: translateX(-900%);
}

.csslider1 > #cs_slide1_10:checked ~ ul > .slide,
.csslider1 > #cs_pause1_10:checked ~ ul > .slide {
    -webkit-transform: translateX(-1000%);
    transform: translateX(-1000%);
}

.csslider1 > #cs_slide1_11:checked ~ ul > .slide,
.csslider1 > #cs_pause1_11:checked ~ ul > .slide {
    -webkit-transform: translateX(-1100%);
    transform: translateX(-1100%);
}

.csslider1 > #cs_slide1_12:checked ~ ul > .slide,
.csslider1 > #cs_pause1_12:checked ~ ul > .slide {
    -webkit-transform: translateX(-1200%);
    transform: translateX(-1200%);
}

.csslider1 > #cs_slide1_13:checked ~ ul > .slide,
.csslider1 > #cs_pause1_13:checked ~ ul > .slide {
    -webkit-transform: translateX(-1300%);
    transform: translateX(-1300%);
}

.csslider1 > #cs_slide1_14:checked ~ ul > .slide,
.csslider1 > #cs_pause1_14:checked ~ ul > .slide {
    -webkit-transform: translateX(-1400%);
    transform: translateX(-1400%);
}

.csslider1 > #cs_slide1_15:checked ~ ul > .slide,
.csslider1 > #cs_pause1_15:checked ~ ul > .slide {
    -webkit-transform: translateX(-1500%);
    transform: translateX(-1500%);
}

.csslider1 > #cs_slide1_16:checked ~ ul > .slide,
.csslider1 > #cs_pause1_16:checked ~ ul > .slide {
    -webkit-transform: translateX(-1600%);
    transform: translateX(-1600%);
}

.csslider1 > #cs_slide1_17:checked ~ ul > .slide,
.csslider1 > #cs_pause1_17:checked ~ ul > .slide {
    -webkit-transform: translateX(-1700%);
    transform: translateX(-1700%);
}

.csslider1 > #cs_slide1_18:checked ~ ul > .slide,
.csslider1 > #cs_pause1_18:checked ~ ul > .slide {
    -webkit-transform: translateX(-1800%);
    transform: translateX(-1800%);
}

.csslider1 > #cs_slide1_19:checked ~ ul > .slide,
.csslider1 > #cs_pause1_19:checked ~ ul > .slide {
    -webkit-transform: translateX(-1900%);
    transform: translateX(-1900%);
}

.csslider1 > #cs_slide1_20:checked ~ ul > .slide,
.csslider1 > #cs_pause1_20:checked ~ ul > .slide {
    -webkit-transform: translateX(-2000%);
    transform: translateX(-2000%);
}

.csslider1 > #cs_slide1_21:checked ~ ul > .slide,
.csslider1 > #cs_pause1_21:checked ~ ul > .slide {
    -webkit-transform: translateX(-2100%);
    transform: translateX(-2100%);
}

.csslider1 > #cs_slide1_22:checked ~ ul > .slide,
.csslider1 > #cs_pause1_22:checked ~ ul > .slide {
    -webkit-transform: translateX(-2200%);
    transform: translateX(-2200%);
}

.csslider1 > #cs_slide1_23:checked ~ ul > .slide,
.csslider1 > #cs_pause1_23:checked ~ ul > .slide {
    -webkit-transform: translateX(-2300%);
    transform: translateX(-2300%);
}

.csslider1 > #cs_slide1_24:checked ~ ul > .slide,
.csslider1 > #cs_pause1_24:checked ~ ul > .slide {
    -webkit-transform: translateX(-2400%);
    transform: translateX(-2400%);
}

.csslider1 > #cs_slide1_25:checked ~ ul > .slide,
.csslider1 > #cs_pause1_25:checked ~ ul > .slide {
    -webkit-transform: translateX(-2500%);
    transform: translateX(-2500%);
}

.csslider1 > #cs_slide1_26:checked ~ ul > .slide,
.csslider1 > #cs_pause1_26:checked ~ ul > .slide {
    -webkit-transform: translateX(-2600%);
    transform: translateX(-2600%);
}

.csslider1 > #cs_slide1_27:checked ~ ul > .slide,
.csslider1 > #cs_pause1_27:checked ~ ul > .slide {
    -webkit-transform: translateX(-2700%);
    transform: translateX(-2700%);
}

.csslider1 > #cs_slide1_28:checked ~ ul > .slide,
.csslider1 > #cs_pause1_28:checked ~ ul > .slide {
    -webkit-transform: translateX(-2800%);
    transform: translateX(-2800%);
}

.csslider1 > #cs_slide1_29:checked ~ ul > .slide,
.csslider1 > #cs_pause1_29:checked ~ ul > .slide {
    -webkit-transform: translateX(-2900%);
    transform: translateX(-2900%);
}

.csslider1 > #cs_slide1_30:checked ~ ul > .slide,
.csslider1 > #cs_pause1_30:checked ~ ul > .slide {
    -webkit-transform: translateX(-3000%);
    transform: translateX(-3000%);
}

.csslider1 > #cs_slide1_31:checked ~ ul > .slide,
.csslider1 > #cs_pause1_31:checked ~ ul > .slide {
    -webkit-transform: translateX(-3100%);
    transform: translateX(-3100%);
}

.csslider1 > #cs_slide1_32:checked ~ ul > .slide,
.csslider1 > #cs_pause1_32:checked ~ ul > .slide {
    -webkit-transform: translateX(-3200%);
    transform: translateX(-3200%);
}

.csslider1 > ul > .slide {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: 1;

    -webkit-transition: -webkit-transform 0ms;
    transition: -webkit-transform 0ms, transform 0ms;

    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
    -webkit-transition: .4s all 0s ease;
    transition: .4s all 0s ease;
}

.csslider1 > .cs_arrowprev {
    -webkit-transition: .4s all .15s ease;
    transition: .4s all .15s ease;
}

.csslider1 > .cs_arrownext {
    -webkit-transition: .4s all .3s ease;
    transition: .4s all .3s ease;
}

.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
    padding: 17px;
    height: 23px;
    width: 23px;
    margin-top: -28px;
    margin-left: -28px;

    background-color: ;

    border-radius: 50%;
}

.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label,
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
    -webkit-transition: background-color 0.4s, color 0.4s;
    transition: background-color 0.4s, color 0.4s;
}

.csslider1 > .cs_arrowprev {
    margin-left: 2px;
    left: 45px;
}

.csslider1 > .cs_arrownext {
    margin-right: 2px;
    right: 45px;
}

.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
    display: block;
}

.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
    display: block;
    font: 21px "cs-ctrl-basic";
    line-height: 23px;
    text-align: center;
}

/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
    line-height: 29px;
}

_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
    line-height: 29px;
}

.csslider1 > .cs_arrowprev > label span:after {
    content: '\e800';
}

.csslider1 > .cs_arrownext > label span:after {
    content: '\e801';
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
    background-color: #808080;
}

.csslider1 > .cs_arrownext:hover > label span {
    color: #000;
    -webkit-animation: nextArrow1 .7s infinite ease-in-out;
    animation: nextArrow1 .7s infinite ease-in-out;
}

.csslider1 > .cs_arrowprev:hover > label span {
    color: #000;
    -webkit-animation: prevArrow1 .7s infinite ease-in-out;
    animation: prevArrow1 .7s infinite ease-in-out;
}

@keyframes nextArrow1 {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    75% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}

@-webkit-keyframes nextArrow1 {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    75% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}

@-webkit-keyframes prevArrow1 {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    75% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@keyframes prevArrow1 {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    75% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

/* ------------- /Template Arrows ------------- */

/* ------------- Template Description ------------- */

.csslider1 > .cs_description > label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    left: 0px;
}

.csslider1 > .cs_description > label > span {
    position: relative;
    padding: 13px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 > .cs_title,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 > .cs_descr,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 > .cs_title,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 > .cs_descr,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 > .cs_title,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 > .cs_descr,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 > .cs_title,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 > .cs_descr,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 > .cs_title,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 > .cs_descr,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 > .cs_title,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 > .cs_descr,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 > .cs_title,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 > .cs_descr,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 > .cs_title,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 > .cs_descr,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 > .cs_title,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 > .cs_descr,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 > .cs_title,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 > .cs_descr,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 > .cs_title,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 > .cs_descr,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 > .cs_title,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 > .cs_descr,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 > .cs_title,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 > .cs_descr,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 > .cs_title,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 > .cs_descr,
.csslider1 > #cs_slide1_13:checked ~ .cs_description > .num13 > .cs_title,
.csslider1 > #cs_slide1_13:checked ~ .cs_description > .num13 > .cs_descr,
.csslider1 > #cs_pause1_13:checked ~ .cs_description > .num13 > .cs_title,
.csslider1 > #cs_pause1_13:checked ~ .cs_description > .num13 > .cs_descr,
.csslider1 > #cs_slide1_14:checked ~ .cs_description > .num14 > .cs_title,
.csslider1 > #cs_slide1_14:checked ~ .cs_description > .num14 > .cs_descr,
.csslider1 > #cs_pause1_14:checked ~ .cs_description > .num14 > .cs_title,
.csslider1 > #cs_pause1_14:checked ~ .cs_description > .num14 > .cs_descr,
.csslider1 > #cs_slide1_15:checked ~ .cs_description > .num15 > .cs_title,
.csslider1 > #cs_slide1_15:checked ~ .cs_description > .num15 > .cs_descr,
.csslider1 > #cs_pause1_15:checked ~ .cs_description > .num15 > .cs_title,
.csslider1 > #cs_pause1_15:checked ~ .cs_description > .num15 > .cs_descr,
.csslider1 > #cs_slide1_16:checked ~ .cs_description > .num16 > .cs_title,
.csslider1 > #cs_slide1_16:checked ~ .cs_description > .num16 > .cs_descr,
.csslider1 > #cs_pause1_16:checked ~ .cs_description > .num16 > .cs_title,
.csslider1 > #cs_pause1_16:checked ~ .cs_description > .num16 > .cs_descr,
.csslider1 > #cs_slide1_17:checked ~ .cs_description > .num17 > .cs_title,
.csslider1 > #cs_slide1_17:checked ~ .cs_description > .num17 > .cs_descr,
.csslider1 > #cs_pause1_17:checked ~ .cs_description > .num17 > .cs_title,
.csslider1 > #cs_pause1_17:checked ~ .cs_description > .num17 > .cs_descr,
.csslider1 > #cs_slide1_18:checked ~ .cs_description > .num18 > .cs_title,
.csslider1 > #cs_slide1_18:checked ~ .cs_description > .num18 > .cs_descr,
.csslider1 > #cs_pause1_18:checked ~ .cs_description > .num18 > .cs_title,
.csslider1 > #cs_pause1_18:checked ~ .cs_description > .num18 > .cs_descr,
.csslider1 > #cs_slide1_19:checked ~ .cs_description > .num19 > .cs_title,
.csslider1 > #cs_slide1_19:checked ~ .cs_description > .num19 > .cs_descr,
.csslider1 > #cs_pause1_19:checked ~ .cs_description > .num19 > .cs_title,
.csslider1 > #cs_pause1_19:checked ~ .cs_description > .num19 > .cs_descr,
.csslider1 > #cs_slide1_20:checked ~ .cs_description > .num20 > .cs_title,
.csslider1 > #cs_slide1_20:checked ~ .cs_description > .num20 > .cs_descr,
.csslider1 > #cs_pause1_20:checked ~ .cs_description > .num20 > .cs_title,
.csslider1 > #cs_pause1_20:checked ~ .cs_description > .num20 > .cs_descr,
.csslider1 > #cs_slide1_21:checked ~ .cs_description > .num21 > .cs_title,
.csslider1 > #cs_slide1_21:checked ~ .cs_description > .num21 > .cs_descr,
.csslider1 > #cs_pause1_21:checked ~ .cs_description > .num21 > .cs_title,
.csslider1 > #cs_pause1_21:checked ~ .cs_description > .num21 > .cs_descr,
.csslider1 > #cs_slide1_22:checked ~ .cs_description > .num22 > .cs_title,
.csslider1 > #cs_slide1_22:checked ~ .cs_description > .num22 > .cs_descr,
.csslider1 > #cs_pause1_22:checked ~ .cs_description > .num22 > .cs_title,
.csslider1 > #cs_pause1_22:checked ~ .cs_description > .num22 > .cs_descr,
.csslider1 > #cs_slide1_23:checked ~ .cs_description > .num23 > .cs_title,
.csslider1 > #cs_slide1_23:checked ~ .cs_description > .num23 > .cs_descr,
.csslider1 > #cs_pause1_23:checked ~ .cs_description > .num23 > .cs_title,
.csslider1 > #cs_pause1_23:checked ~ .cs_description > .num23 > .cs_descr,
.csslider1 > #cs_slide1_24:checked ~ .cs_description > .num24 > .cs_title,
.csslider1 > #cs_slide1_24:checked ~ .cs_description > .num24 > .cs_descr,
.csslider1 > #cs_pause1_24:checked ~ .cs_description > .num24 > .cs_title,
.csslider1 > #cs_pause1_24:checked ~ .cs_description > .num24 > .cs_descr,
.csslider1 > #cs_slide1_25:checked ~ .cs_description > .num25 > .cs_title,
.csslider1 > #cs_slide1_25:checked ~ .cs_description > .num25 > .cs_descr,
.csslider1 > #cs_pause1_25:checked ~ .cs_description > .num25 > .cs_title,
.csslider1 > #cs_pause1_25:checked ~ .cs_description > .num25 > .cs_descr,
.csslider1 > #cs_slide1_26:checked ~ .cs_description > .num26 > .cs_title,
.csslider1 > #cs_slide1_26:checked ~ .cs_description > .num26 > .cs_descr,
.csslider1 > #cs_pause1_26:checked ~ .cs_description > .num26 > .cs_title,
.csslider1 > #cs_pause1_26:checked ~ .cs_description > .num26 > .cs_descr,
.csslider1 > #cs_slide1_27:checked ~ .cs_description > .num27 > .cs_title,
.csslider1 > #cs_slide1_27:checked ~ .cs_description > .num27 > .cs_descr,
.csslider1 > #cs_pause1_27:checked ~ .cs_description > .num27 > .cs_title,
.csslider1 > #cs_pause1_27:checked ~ .cs_description > .num27 > .cs_descr,
.csslider1 > #cs_slide1_28:checked ~ .cs_description > .num28 > .cs_title,
.csslider1 > #cs_slide1_28:checked ~ .cs_description > .num28 > .cs_descr,
.csslider1 > #cs_pause1_28:checked ~ .cs_description > .num28 > .cs_title,
.csslider1 > #cs_pause1_28:checked ~ .cs_description > .num28 > .cs_descr,
.csslider1 > #cs_slide1_29:checked ~ .cs_description > .num29 > .cs_title,
.csslider1 > #cs_slide1_29:checked ~ .cs_description > .num29 > .cs_descr,
.csslider1 > #cs_pause1_29:checked ~ .cs_description > .num29 > .cs_title,
.csslider1 > #cs_pause1_29:checked ~ .cs_description > .num29 > .cs_descr,
.csslider1 > #cs_slide1_30:checked ~ .cs_description > .num30 > .cs_title,
.csslider1 > #cs_slide1_30:checked ~ .cs_description > .num30 > .cs_descr,
.csslider1 > #cs_pause1_30:checked ~ .cs_description > .num30 > .cs_title,
.csslider1 > #cs_pause1_30:checked ~ .cs_description > .num30 > .cs_descr,
.csslider1 > #cs_slide1_31:checked ~ .cs_description > .num31 > .cs_title,
.csslider1 > #cs_slide1_31:checked ~ .cs_description > .num31 > .cs_descr,
.csslider1 > #cs_pause1_31:checked ~ .cs_description > .num31 > .cs_title,
.csslider1 > #cs_pause1_31:checked ~ .cs_description > .num31 > .cs_descr,
.csslider1 > #cs_slide1_32:checked ~ .cs_description > .num32 > .cs_title,
.csslider1 > #cs_slide1_32:checked ~ .cs_description > .num32 > .cs_descr,
.csslider1 > #cs_pause1_32:checked ~ .cs_description > .num32 > .cs_title,
.csslider1 > #cs_pause1_32:checked ~ .cs_description > .num32 > .cs_descr {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 .cs_wrapper,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 .cs_wrapper,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 .cs_wrapper,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 .cs_wrapper,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 .cs_wrapper,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 .cs_wrapper,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 .cs_wrapper,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 .cs_wrapper,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 .cs_wrapper,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 .cs_wrapper,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 .cs_wrapper,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 .cs_wrapper,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 .cs_wrapper,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 .cs_wrapper,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 .cs_wrapper,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 .cs_wrapper,
.csslider1 > #cs_slide1_13:checked ~ .cs_description > .num13 .cs_wrapper,
.csslider1 > #cs_pause1_13:checked ~ .cs_description > .num13 .cs_wrapper,
.csslider1 > #cs_slide1_14:checked ~ .cs_description > .num14 .cs_wrapper,
.csslider1 > #cs_pause1_14:checked ~ .cs_description > .num14 .cs_wrapper,
.csslider1 > #cs_slide1_15:checked ~ .cs_description > .num15 .cs_wrapper,
.csslider1 > #cs_pause1_15:checked ~ .cs_description > .num15 .cs_wrapper,
.csslider1 > #cs_slide1_16:checked ~ .cs_description > .num16 .cs_wrapper,
.csslider1 > #cs_pause1_16:checked ~ .cs_description > .num16 .cs_wrapper,
.csslider1 > #cs_slide1_17:checked ~ .cs_description > .num17 .cs_wrapper,
.csslider1 > #cs_pause1_17:checked ~ .cs_description > .num17 .cs_wrapper,
.csslider1 > #cs_slide1_18:checked ~ .cs_description > .num18 .cs_wrapper,
.csslider1 > #cs_pause1_18:checked ~ .cs_description > .num18 .cs_wrapper,
.csslider1 > #cs_slide1_19:checked ~ .cs_description > .num19 .cs_wrapper,
.csslider1 > #cs_pause1_19:checked ~ .cs_description > .num19 .cs_wrapper,
.csslider1 > #cs_slide1_20:checked ~ .cs_description > .num20 .cs_wrapper,
.csslider1 > #cs_pause1_20:checked ~ .cs_description > .num20 .cs_wrapper,
.csslider1 > #cs_slide1_21:checked ~ .cs_description > .num21 .cs_wrapper,
.csslider1 > #cs_pause1_21:checked ~ .cs_description > .num21 .cs_wrapper,
.csslider1 > #cs_slide1_22:checked ~ .cs_description > .num22 .cs_wrapper,
.csslider1 > #cs_pause1_22:checked ~ .cs_description > .num22 .cs_wrapper,
.csslider1 > #cs_slide1_23:checked ~ .cs_description > .num23 .cs_wrapper,
.csslider1 > #cs_pause1_23:checked ~ .cs_description > .num23 .cs_wrapper,
.csslider1 > #cs_slide1_24:checked ~ .cs_description > .num24 .cs_wrapper,
.csslider1 > #cs_pause1_24:checked ~ .cs_description > .num24 .cs_wrapper,
.csslider1 > #cs_slide1_25:checked ~ .cs_description > .num25 .cs_wrapper,
.csslider1 > #cs_pause1_25:checked ~ .cs_description > .num25 .cs_wrapper,
.csslider1 > #cs_slide1_26:checked ~ .cs_description > .num26 .cs_wrapper,
.csslider1 > #cs_pause1_26:checked ~ .cs_description > .num26 .cs_wrapper,
.csslider1 > #cs_slide1_27:checked ~ .cs_description > .num27 .cs_wrapper,
.csslider1 > #cs_pause1_27:checked ~ .cs_description > .num27 .cs_wrapper,
.csslider1 > #cs_slide1_28:checked ~ .cs_description > .num28 .cs_wrapper,
.csslider1 > #cs_pause1_28:checked ~ .cs_description > .num28 .cs_wrapper,
.csslider1 > #cs_slide1_29:checked ~ .cs_description > .num29 .cs_wrapper,
.csslider1 > #cs_pause1_29:checked ~ .cs_description > .num29 .cs_wrapper,
.csslider1 > #cs_slide1_30:checked ~ .cs_description > .num30 .cs_wrapper,
.csslider1 > #cs_pause1_30:checked ~ .cs_description > .num30 .cs_wrapper,
.csslider1 > #cs_slide1_31:checked ~ .cs_description > .num31 .cs_wrapper,
.csslider1 > #cs_pause1_31:checked ~ .cs_description > .num31 .cs_wrapper,
.csslider1 > #cs_slide1_32:checked ~ .cs_description > .num32 .cs_wrapper,
.csslider1 > #cs_pause1_32:checked ~ .cs_description > .num32 .cs_wrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.csslider1 > .cs_description > label > .cs_title {
    background-color: ;
    margin: -5px 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}

.csslider1 > .cs_description > label > .cs_descr {
    text-align: left;
    font-size: 0.8em;
    margin: -5px 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);

    -webkit-transition: 950ms opacity 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: 950ms opacity 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.csslider1 > .cs_description > label > .cs_title > .cs_wrapper {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}

.csslider1 > .cs_description > label > .cs_descr > .cs_wrapper {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);

    -webkit-transition: 950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: 950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@media only screen and (max-width: 1024px) {
    .csslider1,
    .csslider1 > ul {
        height: auto;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .csslider1 > .cs_description > label {
        font-size: 15px;
        line-height: normal;
        left: 0px;
    }
}
