.sidebar-nav a::before {
    content: "" !important;
    margin: auto;
}
:root {
    --table-row-even-background: hsl(201, 18%, 13%)/*var(--mono-shade3)*/
}

.docsify-footer {
    text-align: right;
}

h1 img {
    margin-bottom: -3px;
}

#immersive+ul,
#analysis+ul,
#processing+ul,
#legacy+ul {
    column-count: 4;
}